* {
    margin: 0;
}

#container-menu {
    position: fixed;
    margin: auto;
    z-index: 1;
    top: 25%;
    left: 0;
    right: 0;
}

#title {
    font-size: 200%;
    padding: 2%;
}

.btn-menu {
    width: 90%;
    height: 90px;
    margin: auto;
    margin-bottom: 3%;
}

#map{
    background-color: none;
    transform: skew(10deg, 5deg);
}

.available-movement{
    fill: rgba(223, 130, 10, 0.4) !important;
}

.pathfinder{
    fill: rgba(150,150,255,0.4) !important;
}

.pathfinder-unavailable{
    fill: rgba(216, 41, 41, 0.60) !important;
}

.grass{
    fill: lightgreen;
}

.mountain{
    fill: darkgray;
}

.water{
    fill: lightskyblue;
}

.forest{
    fill: rgb(7, 94, 12);
}

.snow{
    fill: whitesmoke;
}

.volcano{
    fill: rgb(201, 27, 4);
}

.urban{
    fill: gray;
}

.desert{
    fill: sandybrown;
}
.void{
    fill: rgba(25, 25, 25, 0.8);
}