/** /**
 * Author : Canta Thomas
 * Description : Manage hexagon color
 *
 * Git Repository : https://github.com/GraciaMoulisKevin/Wargame
 * 
 * Copyright : 2020 Ⓒ
 */

.available-movement{
    fill: rgba(223, 130, 10, 0.4) !important;
}

.pathfinder{
    fill: rgba(150,150,255,0.4) !important;
}

.pathfinder-unavailable{
    fill: rgba(216, 41, 41, 0.60) !important;
}

[data-type=grass]{
    fill: #52BE25;
}

[data-type=mountain]{
    fill: #8D6E63;
}

[data-type=water]{
    fill: #64B5F6;
}

[data-type=forest]{
    fill: #00897B;
}

[data-type=snow]{
    fill: #BBDEFB;
}

[data-type=volcano]{
    fill: #E64A19;
}

[data-type=urban]{
    fill: gray;
}

[data-type=sand]{
    fill: #FBC02D;
}
[data-type=void]{
    fill: rgba(25, 25, 25, 0.8);
}