* {
    margin: 0;
}

#map{
    background-color: none;
    transform: skew(10deg, 5deg);
}

canvas{
    position: absolute;
}

img{
    /* display : none; */
}
/*
#title {
    font-size: 200%;
    padding: 2%;
}

#container-menu {
    position: fixed;
    margin: auto;
    z-index: 1;
    top: 25%;
    left: 0;
    right: 0;
}
.btn-menu {
    width: 90%;
    height: 90px;
    margin: auto;
    margin-bottom: 3%;
} */